{% extends "base.html" %}

{% block head %}
<title>Zvědavobot</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
<script src="{{ url_for('static', filename='js/loader.js') }}"></script>
{% endblock %}

{% block body %}

<h1 class="ndps">zvědavobot</h1>
<br>
<div class="vkld">
    <p id="chatbot-reply" class="rppl">{{ crb }}</p>
    <div id="loader" class="loader display-none"></div>
    <form id="chat-form" action="/chat" method="POST">
        <input class="odp" type="text" name="odp" id="odp">
        <div class="butt3">
            <input class="pdo" type="submit" name="odpik" id="odpik" value="odpovědět">
            <br>
            <input class="uk" type="submit" name="ukončit" id="ukončit" value="ukončit konverzaci">
        </div>
    </form>
</div>



{% endblock %}
