{% extends "base.html" %}
{% block heading %}{{ scenario }}{% endblock %}

{% block body %}

<p class="rppl">
  Děkujeme, že jste se rozhodli účastnit vývoje chatbota {{ scenario }}.
  V této chvíli se nacházíme ve fázi testování lexikální kompetence.
  Prosíme vás proto o to, abyste chatbotovi odpovídali jednoduchými
  větami a v rámci možností s bohatou slovní zásobou.
  {{ scenario_desc }}
  Vyplňte prosím svou uživatelskou přezdívku a stiskněte tlačítko začít.
  Pokud robot přestane reagovat adekvátně, můžete stisknout tlačítko
  ukončit konverzaci.
</p>

<form method=post action="{{ url_for('dispatcher') }}">
  <input name=nick id=us class="odp" type=text autofocus>
  <div class="butt3">
    <input class="pdo" type=submit value=začít>
    <br>
  </div>
</form>

{% endblock %}
